// import core file
//-----------------------------------------------------
@import "core/_setting";
@import "core/_css3";
@import "core/_media-queries";
@import "core/_mixin";
@import "core/_grid";

//@import "module/_global";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#eee; color:#000; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
//html {overflow-y: scroll;min-width: 1020px;}
body{font-family: "微软雅黑","宋体"; font-size: 0.28rem;}

.clear-fix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clear-fix { *zoom:1; }
body{
  background-color: #f6f6f6;
}

.shade{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display: none;
  z-index: 999;
  @include bgcolor-alpha(rgba(0,0,0,0.5));
  .shade-content{
    position: absolute;
    top:40%;
    left:50%;
    width:6rem;
    margin-left:-3rem;
    background-color: $white;
    color:#000;
    @include border-radius(0.1rem);
    .top{
      padding:0.4rem 0;
      border-bottom:1px solid #eee;
      p{
        text-align: center;
        font-size:0.32rem;
        font-weight: bold;
      }
    }
    button{
      background-color: $white;
      width:50%;
      @include box-sizing(border-box);
      height:0.8rem;
      border:1px solid $white;
      @include float(left);
      @include border-radius(0.1rem);
    }
    .sure{
      color:#4992f0;
      border-left:1px solid #eee;
    }
  }
}

.download-app{
  @include clearfix();
  position: fixed;
  top:0;
  left:0;
  right:0;
  @include bgcolor-alpha(rgba(0,0,0,0.6));
  padding:0.1rem 0.16rem;
  display: block;
  z-index: 999;
  img{
    width:0.64rem;
    height:0.64rem;
    @include border-radius(0.06rem);
    @include float();
  }
  &>div{
    @include float();
    margin-left:0.16rem;
    font-size:0.24rem;
    .intro{
      font-size:0.2rem;
    }
  }
  button{
    @include float(right);
    background-color: #4992f0;
    border:1px solid #4992f0;
    font-size:0.24rem;
    color:$white;
    @include border-radius(0.06rem);
    padding:0.06rem 0.16rem;
    margin-top:0.08rem;
    margin-right:0.24rem;
  }
  span{
    @include float(right);
    margin-top:0.14rem;
    font-size:0.24rem;
  }
}
.zyz-video{
  background-color: #ffffff;
  position: relative;
  //padding-bottom:0.3rem;
  .video-img{
    width:100%;
  }
  .video-play{
    width:1.28rem;
    height:1.28rem;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-0.64rem;
    margin-top:-0.64rem;
  }
  h3{
    font-size:0.3rem;
    color:#202020;
    margin:0.2rem 0.24rem;
    line-height:1;
    font-weight: bold;
  }
  .video-time{
    padding:.06rem .28rem .24rem .24rem;
    line-height:1;
    time{
      font-size:0.24rem;
      color:#909090;
    }
    img{
      width:.3rem;
      float:right;
    }
  }
}
.zyz-video-intro{
  margin-top:0.1rem;
  background-color: #ffffff;
  padding:0.32rem 0.24rem 0.5rem;
  p{
    font-size:0.3rem;
    color:#909090;
    text-align: justify;
    text-indent: 2em;
    line-height:1.4;
  }
}