// import core file
//-----------------------------------------------------
@import "core/_setting";
@import "core/_css3";
@import "core/_media-queries";
@import "core/_mixin";
@import "core/_grid";

//@import "module/_global";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;min-width: 1020px;}
body{font-family: "微软雅黑","宋体"; font-size: 14px;}

.clear-fix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clear-fix { *zoom:1; }

body{
  background: url(../imgs/bg.jpg) repeat-y;
  background-size: 100% auto;
  min-width: 1170px;
}
header{
  .head-img{
    width:100%;
    display: block;
  }
}
.container{
  width:1170px;
  margin:0 auto;
  background-color:$white;
  nav>ul{
    width:100%;
    color:$white;
    font-size:22px;
    background: url(../imgs/nav-btn.jpg) repeat;
    .active{
      background: url(../imgs/nav-btn-active.jpg) repeat;
    }
    li{
      width:16.66%;
      text-align: center;
      line-height:55px;
      @include float(left);
      border-right:1px solid #c6b29a;
      @include box-sizing(border-box);
      &:last-child{
        border-right:none;
        //width:16.7%;
      }
    }
  }
  .container-top{
    padding:27px 35px 46px 22px;
    .top-left{
      width:580px;
      height:370px;
      @include float(left);
      .swiper-container,.swiper-wrapper{
        width:100%;
        height:100%;
        img{
          width:100%;
          height:100%;
        }
      }
      .top-intr{
        height:auto;
        width:580px;
        position: absolute;
        bottom:0;left:0;
        @include bgcolor-alpha(rgba(0,0,0,0.5));
        padding:6px 30px;
        color:$white;
        @include box-sizing(border-box);
        h4{
          font-size:22px;
          margin-bottom:6px;
        }
        p{
          font-size:14px;
          line-height:20px;
        }
      }
    }
    .top-right{
      hr{
        border: none;
        border-bottom: 1px solid #e9e9e9;
      }
      margin-left:620px;
      div>a{
        text-decoration:none;
      }
      div>a>h3{
        color:#af1c3b;
        font-size:22px;
      }
      div>a>p{
        color:#636363;
        line-height:24px;
        margin-bottom:14px;
        margin-top:10px;
        font-family: "宋体";
      }
      .news-short{
        margin-top:14px;
        margin-bottom:16px;
        font-family: "宋体";
        a{
          display: block;
          height:28px;
          overflow: hidden;
          text-overflow: ellipsis;;
          white-space: nowrap;
        }
      }
    }
  }
  %common-title{
    width:1113px;
    line-height:60px;
    background: url(../imgs/btbg.jpg) no-repeat;
    text-align: center;
    font-size:30px;
    color:$white;
  }
  .guest-intr{
    margin-left:22px;
    margin-right:35px;
    h2{
      @extend %common-title;
    }
    .guest-content{
      height:450px;
      width:1113px;
      .swiper-slide{
        height:450px;
        text-align: center;
        padding-top:50px;
        img{
          @include border-radius(50%);
          border:1px solid #e9e9e9
        }
        .slide-title{
          font-size:22px;
          color:#1e1e1e;
          margin-bottom:10px;
          margin-top:4px;
        }
        .slide-intr{
          width:290px;
          line-height:24px;
          color:#636363;
          margin:0 auto;
          font-family: "宋体";
        }
      }
    }
  }
  .bbs-agenda{
    margin-left:22px;
    margin-right:35px;
    padding-bottom:32px;
    h2{
      @extend %common-title;
    }
    .bbs-date{
      font-size:22px;
      color:#373636;
      @include float(left);
      width:50%;
      text-align: center;
      line-height:80px;
      cursor: pointer;
    }
    .bbs-content{
      height:755px;
      width:1113px;
      border:1px solid #cdcdcd;
      margin-top:80px;
      @include box-sizing(border-box);
    }
  }
  .bbs-intr{
    margin-left:22px;
    margin-right:35px;
    padding-bottom:32px;
    h2{
      @extend %common-title;
    }
    p{
      margin:16px 10px;
      line-height:22px;
      font-family: "宋体";
    }
  }
  .partner{
    margin-left:22px;
    margin-right:35px;
    padding-bottom:32px;
    h2{
      @extend %common-title;
    }
    .partner-c{
      height:200px;
    }
  }
}